*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
  
    width:1080px ;
    margin: 0 auto;
    background: #2F2E41;
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0 100px 0 ;    
}
nav ul{
    display: flex;
    gap:64px;
    list-style: none;
}
nav ul li a{
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 14px 16px;
    opacity: 0.7;
}
nav ul li a:hover{
    opacity: 1;
    font-weight: bold;
}
main{
    display: flex;
    justify-content: space-between;
    
   
    
}
.title{
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 60px;

}

.text{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #C2C2C2;
}
span{
    color: #00BFA6;
}
section :nth-child(3) {
    margin-top: 40px ;
}
footer{
    margin: 0 auto;
    width: 568px;
    display: grid;
    text-align: center;
    margin-top: 150px ;
    padding: 27px;
    border-top: solid 1px #00BFA6 ;
    
    
}
footer p{
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    
}
footer a {
    color: #FFFFFF;
    opacity: 0.5;
}
footer a:hover{
    opacity: 1;
    font-weight: bold;
}
.decoration{
    position: fixed;
    bottom: 20px;
    left: 20px;
}